{% extends 'base.html.twig' %}

{% block title %}Weather{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Weather</h1>

    {% if result %}
        {{ result }}
    {% endif %}

    {% if token %}
        <form action="/display" method="post">
            <input type="hidden" name="city" value="Riga">
            <input type="hidden" name="type" value="today">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="submit" value="Riga today">
        </form>

        <form action="/display" method="post">
            <input type="hidden" name="city" value="Riga">
            <input type="hidden" name="type" value="average">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="submit" value="Riga 7 day average">
        </form>

        <form action="/display" method="post">
            <input type="hidden" name="city" value="New York">
            <input type="hidden" name="type" value="today">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="submit" value="New York today">
        </form>

        <form action="/display" method="post">
            <input type="hidden" name="city" value="New York">
            <input type="hidden" name="type" value="average">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="submit" value="New York 7 day average">
        </form>
    {% endif %}
</div>
{% endblock %}
